<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: radial-gradient(circle, #980ddd, #cabfcf,#3fb8c3,#9707e0);
            background-size: cover;
        }
        .newchats{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgb(65, 233, 224);
            height: 450px;
            width: 30%;
            border: 15px solid black;
            border-radius: 40px;
            position: relative;
            left: 35%;
            top:50px;
            font-size: 20px;

        }
        .newchats-bxs{
            border: 3px solid rgb(112, 135, 169);
            border-radius: 15px;
            padding:6px;
        }
        #newchats-sub{
            border: 3px solid rgb(112, 135, 169);
            border-radius: 15px;
            padding:10px;
        }
    </style>
</head>
<body>
    <!-- <p>hai</p> -->
    <form action="http://localhost:8080/chats" method="POST" class="newchats">
        <p>ENTER YOUR CHAT DETAILS: </p>
        <br>
       <p> From: <input name="from" placeholder="from" class="newchats-bxs"></p>
        <br>
        <p>To: <input name="to" placeholder="to" class="newchats-bxs"></p>
        <br>
       <p> msg: <textarea name="msg" placeholder="ENTER YOUR MSG" class="newchats-bxs"></textarea></p>
        <br>
        <button id="newchats-sub">submit</button>
    </form>
</body>
</html>