<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <p>hai</p> -->
    <form action="http://localhost:8080/chats" method="POST">
        <p>ENTER YOUR CHAT DETAILS: </p>
        From: <input name="from" placeholder="from">
        To: <input name="to" placeholder="to">
        msg: <textarea name="msg">Enter your msg</textarea>
        <button>submit</button>
    </form>
</body>
</html>